$color-base-saturation: 77%;
$color-base-lightness: 88%;

$color-red: hsl(0, $color-base-saturation, $color-base-lightness);
$color-green: hsl(150, $color-base-saturation, $color-base-lightness);
$color-blue: hsl(200, $color-base-saturation, $color-base-lightness);

@mixin PageBox {
  padding: 2.5em;
  border: 1px solid #eaeaee;
  border-radius: 0.5em;
  transition: 200ms box-shadow;

  &:hover {
    box-shadow: 0 0 20px -4px #eeeef2;
  }

  &:not(:first-child) {
    margin-top: 2.5em;
  }
}