$color-base-saturation: 77%;
$color-base-lightness: 88%;

$color-red: hsl(0, $color-base-saturation, $color-base-lightness);
$color-green: hsl(150, $color-base-saturation, $color-base-lightness);
$color-blue: hsl(200, $color-base-saturation, $color-base-lightness);