@import "shared";

.appointment {
  @include PageBox;
}

.appointment__title {
  margin-top: unset;
}

.appointment__desc {}

.appointment__container {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  margin-top: 2.5em;
}

/* Appointment Block */

.appointment-block {
  display: grid;
  row-gap: 1em;

  &:not(:first-child) {
    margin-left: 2.5em;
  }
}

.appointment-block__title {}

.appointment-block__date {
  padding: 0.75em;
  background: $color-green;
  border-radius: 0.25em;
  text-transform: uppercase;

  // font-size: 0.9em;
  font-weight: 600;

  &--no-date {
    background: #eaeaee;
  }

  &--expired {
    background: $color-red;
  }
}