@import "shared";

* {
  box-sizing: border-box;
}

html {
  font: 1.25em/1 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: unset;
}

.news-list {
  margin: 5em 15vw;
}

.news-list-header {
  display: grid;
  justify-items: center;
  // border-bottom: 1px solid #eaeaee;
}

.news-list-header__image {
  $size: 10em;
  width: $size;
  height: $size;
  object-fit: contain;

  box-shadow: 0 0 15px #bdbdbd;
  border-radius: 100%;
}

.news-list-header__title {}

.news-list-header__desc {
  // margin-left: 0.5em;
}

/* Tags */

.news-list-tags {}

.news-list-tags__title {}

.news-list-tags__container {}

/* Capture Group */

.news-list-capture {
  @include PageBox;
}

.news-list-capture__title {
  color: #666;
}

.news-list-capture__container {
  display: grid;
  row-gap: 2.5em;
}

/* Article */

.news-article {
  position: relative;
  // display: grid;
  margin-bottom: 2.5em;

  &:hover {
    background: #f4f4f8;
  }

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -2.5em;
    width: 100%;
    border-bottom: 1px solid #eaeaee;
  }
}

.news-article__title {
  margin-top: unset;
  line-height: 1.25;
}

.news-article__details {}

.news-article__text {
  line-height: 1.35;
}

.news-article__more {
  /* padding: */
}

/* Article Tag */

.article-tag {
  padding: 0 0.25em;
  background: #eaeaee;
  border-radius: 0.2em;

  &:not(:first-child) {
    margin-left: 0.25em;
  }

  &--red {
    background: $color-red;
  }

  &--green {
    background: var(--color-green);
  }

  &--blue {
    background: var(--color-blue);
  }
}